<!--http://127.0.0.1:8000/leer_libros/-->

{%  extends 'base.html' %}
{% load static %}

{% block titulo%} Listado de Libros {% endblock titulo %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'app_libros/css/estilos.css' %}" rel="stylesheet" type="text/css">

    <title>Document</title>
</head>
<body>

    {% block js %}
    <script >
        function eliminarProducto(id) {
            Swal.fire({
                'title' : '¿ Estas Seguro ?',
                'text' : 'Esta acción no se puede revertir',
                'icon' : 'question',
                'showCancelButton' : true,
                'cancelButtonText' : 'No, Cancelar',
                'confirmButtonText' : 'Si, Eliminar',

            })
            .then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = '/eliminar_SweetAlert/'+id+'/'
                }
            })
        }
    </script>
{% endblock js %}



{% block contenidos %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">Titulo</th>
                <th scope="col">Autor</th>
                <th scope="col">Fecha Publicación</th>
                <th scope="col">Cantidad</th>               
                <th scope="col">Imagen</th>
                <th scope="col">Acción</th>
            </tr>
        </thead>

        <tbody>
            
            {% for libro in object_list %} 
                <tr>
                    <td>{{libro.id}}</td>
                    <td>{{libro.titulo}}</td>
                    <td>
                        {% for autor in libro.autor_id.all %}
                            <li>{{ autor.nombre }}</li>

                        {% endfor %}
                    </td>
                    <td>{{libro.fecha_publicacion}}</td>
                    <td>{{libro.cantidad}}</td>

                    
                    <td class="imagen-libros">
                        {% if libro.imagen %}
                            <img src="{{ libro.imagen.url }}" alt="" style="width:50px; height:30px;"> 
                        {% endif %}
                    </td>

                    <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'app_libros:editar_libro' libro.id %}" >Editar</a>
                    </td>

                    <td>
                        <a class="btn btn-danger btn-sm" href="{% url 'app_libros:eliminar_libros' libro.id %}">Eliminación</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock contenidos %}
</body>
</html>